@import'../global.scss';

.Section3 {
    width: 100%;
    margin-top: 100px;

    .container {
        max-width: 1440px;
        margin: 0 auto;
        // border: $border;

        .section3 {
            display: flex;
            width: 100%;
            height: 700px;



            // border: $border;
            .leftside {
                padding: 20px 0;
                width: 38%;
                height: 77.6%;

                h1 {
                    margin-top: 20px;
                    font-family: 'Monsterrat', sans-serif;
                    font-size: 46px;
                }

                p {
                    margin-top: 15px;
                    font-family: 'Poppins', sans-serif;
                    font-size: 18px;
                    width: 90%;
                }

                h2 {
                    margin-top: 35px;
                    font-size: 25px;
                    font-family: 'Monsterrat', sans-serif;
                    color: rgb(78, 184, 78);
                }

                .h3lar {
                    display: flex;
                    gap: 30px;

                    .english {
                        margin-top: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 200px;
                        height: 80px;
                        border-radius: 30px;
                        background-color: rgb(199, 226, 249);

                        h3 {
                            font-family: 'Monsterrat', sans-serif;
                            color: rgb(38, 113, 250);
                        }
                    }

                    .math {
                        margin-top: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 200px;
                        height: 80px;
                        border-radius: 30px;
                        background-color: rgb(250, 230, 244);

                        h3 {
                            font-family: 'Monsterrat', sans-serif;
                            color: rgb(179, 133, 199);
                        }
                    }
                }

                .h3ozi {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 500px;
                    height: 80px;
                    border-radius: 30px;
                    background-color: rgb(199, 226, 249);

                    h3 {
                        font-family: 'Monsterrat', sans-serif;
                        color: rgb(38, 113, 250);
                    }
                }

                .div {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 390px;
                    height: 80px;
                    background: none;

                    h4 {
                        font-family: 'Monsterrat', sans-serif;
                        color: black;
                        font-size: 20px;
                    }
                }
            }

            .rightside {
                width: 62%;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 40px;
                }
            }
        }

        .beautiful {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            // border: $border;
            height: 360px;
            margin: 0 auto;

            .beaty {
                width: 100%;
                height: 60%;
                border-radius: 40px;
                // border: $border;
                background-color: #7b48a3;

                display: flex;
                align-items: center;
                justify-content: center;

                .backround {
                    width: 25%;
                    height: 100%;
                    background-image: url(https://optim.tildacdn.one/tild6666-6566-4362-b162-303930643539/-/cover/333x145/center/center/-/format/webp/Mask_group.png);
                    background-repeat: no-repeat;
                    background-size: 88%;
                }

                .word {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35%;
                    height: 100%;

                    img {
                        width: 40%;
                        height: 35%;
                    }

                    h1 {
                        font-family: 'Monsterrat', sans-serif;
                        font-size: 22px;
                        color: white;
                    }

                }

                .bbutton {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 25%;
                    height: 100%;

                    button {
                        width: 280px;
                        height: 75px;
                        background-color: white;
                        color: #7b48a3;
                        border: none;
                        border-radius: 40px;
                        font-family: 'Monsterrat', sans-serif;
                        font-size: 26px;
                        cursor: pointer;

                        &:hover {
                            background-color: black;
                            transition: 0.5s;
                        }
                    }
                }
            }
        }
    }

}

.Infra {
    width: 100%;
    margin-top: 50px;

    @media only screen and (max-width: 830px) {
        margin-top: 100px;
    }

    .container {
        max-width: 1440px;
        margin: 0 auto;

        .infra {
            width: 100%;
            height: 800px;
            // border: $border;
            border-radius: 30px;
            background-color: #36b872;

            @media only screen and (max-width: 1280px) {
                width: 1000px;
                height: 1200px;
                margin: 0 auto;
            }

            @media only screen and (max-width: 1020px) {
                width: 800px;
                height: 1200px;
                margin: 0 auto;
            }

            @media only screen and (max-width: 830px) {
                width: 600px;
                height: 1150px;
                margin: 0 auto;
            }

            @media only screen and (max-width: 625px) {
                width: 400px;
                height: 1050px;
                margin: 0 auto;
            }

            @media only screen and (max-width: 420px) {
                width: 300px;
                height: 1150px;
                margin: 0 auto;
            }
            @media only screen and (max-width: 320px) {
                width: 280px;
                height: 1150px;
                margin: 0 auto;
            }


            .tuzilma {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 60px 0;

                @media only screen and (max-width: 1280px) {
                    padding: 40px 0;
                }

                // background-image: url(https://static.tildacdn.com/lib/flags/flags5.png);


                h1 {
                    color: white;
                    font-family: 'Monsterrat ', sans-serif;
                    font-size: 60px;
                    font-weight: 800;

                    @media only screen and (max-width: 830px) {
                        font-size: 30px;
                    }

                    @media only screen and (max-width: 625px) {
                        font-size: 26px;
                    }

                    @media only screen and (max-width: 420px) {
                        font-size: 20px;
                    }
                }
            }

            .dars {
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 100%;
                height: 69%;

                // border: $border;
                @media only screen and (max-width: 1280px) {
                    display: flex;
                    flex-direction: column;
                    height: 72%;
                }

                .rasmmas {
                    width: 42%;
                    height: 100%;

                    @media only screen and (max-width: 1280px) {
                        width: 100%;
                        height: 50%;
                    }


                    // border: $border;
                    .ortaga {
                        padding: 50px 100px;

                        .xona {
                            display: flex;
                            align-items: center;
                            gap: 20px;
                            margin-top: 15px;

                            @media only screen and (max-width: 420px) {
                                display: flex;
                                flex-direction: column;
                            }

                            @media only screen and (max-width: 1280px) {
                                display: flex;
                                align-items: center;
                                justify-content: center;

                            }

                            .plar1 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 250px;
                                height: 60px;
                                background-color: white;
                                border-radius: 30px;
                                font-family: 'Monsterrat', sans-serif;
                                color: black;
                                font-weight: 400;
                                font-size: 16 px;

                                @media only screen and (max-width: 1330px) {
                                    font-size: 14px;
                                }

                                @media only screen and (max-width: 1280px) {
                                    font-size: 12px;

                                }

                                @media only screen and (max-width: 625px) {
                                    font-size: 12px;
                                    width: 420px;
                                    height: 40px;
                                    text-align: center;

                                }

                                @media only screen and (max-width: 420px) {
                                    font-size: 12px;
                                    width: 180px;
                                    height: 40px;
                                    text-align: center;

                                }

                            }

                            .plar2 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 390px;
                                height: 60px;
                                background-color: white;
                                border-radius: 30px;
                                font-family: 'Monsterrat', sans-serif;
                                color: black;
                                font-weight: 400;
                                font-size: 16px;

                                @media only screen and (max-width: 1330px) {
                                    font-size: 14px;
                                }

                                @media only screen and (max-width: 1280px) {
                                    width: 250px;
                                    height: 60px;
                                    font-size: 12px;
                                }

                                @media only screen and (max-width: 625px) {
                                    font-size: 12px;
                                    width: 420px;
                                    height: 40px;
                                    text-align: center;

                                }

                                @media only screen and (max-width: 420px) {
                                    font-size: 12px;
                                    width: 180px;
                                    height: 40px;
                                    text-align: center;

                                }
                            }

                            .plar3 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 285px;
                                height: 60px;
                                background-color: white;
                                border-radius: 30px;
                                font-family: 'Monsterrat', sans-serif;
                                color: black;
                                font-weight: 400;
                                font-size: 16px;

                                @media only screen and (max-width: 1330px) {
                                    font-size: 14px;
                                }

                                @media only screen and (max-width: 1280px) {
                                    font-size: 12px;
                                    width: 250px;
                                    height: 60px;
                                }

                                @media only screen and (max-width: 625px) {
                                    font-size: 12px;
                                    width: 420px;
                                    height: 40px;
                                    text-align: center;

                                }

                                @media only screen and (max-width: 420px) {
                                    font-size: 12px;
                                    width: 180px;
                                    height: 40px;
                                    text-align: center;

                                }
                            }

                            .plar4 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 200px;
                                height: 60px;
                                background-color: white;
                                border-radius: 30px;
                                font-family: 'Monsterrat', sans-serif;
                                color: black;
                                font-weight: 400;
                                font-size: 16px;

                                @media only screen and (max-width: 1330px) {
                                    font-size: 14px;
                                }

                                @media only screen and (max-width: 1280px) {
                                    font-size: 12px;
                                    width: 250px;
                                    height: 60px;
                                }

                                @media only screen and (max-width: 625px) {
                                    font-size: 12px;
                                    width: 420px;
                                    height: 40px;
                                    text-align: center;

                                }

                                @media only screen and (max-width: 420px) {
                                    font-size: 12px;
                                    width: 180px;
                                    height: 40px;
                                    text-align: center;

                                }
                            }

                            .plar5 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 180px;
                                height: 60px;
                                background-color: white;
                                border-radius: 30px;
                                font-family: 'Monsterrat', sans-serif;
                                color: black;
                                font-weight: 400;
                                font-size: 16px;

                                @media only screen and (max-width: 1330px) {
                                    font-size: 14px;
                                }

                                @media only screen and (max-width: 1280px) {
                                    font-size: 12px;
                                    width: 160px;
                                    height: 60px;
                                }

                                @media only screen and (max-width: 625px) {
                                    font-size: 12px;
                                    width: 420px;
                                    height: 40px;
                                    text-align: center;

                                }

                                @media only screen and (max-width: 420px) {
                                    font-size: 12px;
                                    width: 180px;
                                    height: 40px;
                                    text-align: center;

                                }
                            }

                            .plar6 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 150px;
                                height: 60px;
                                background-color: white;
                                border-radius: 30px;
                                font-family: 'Monsterrat', sans-serif;
                                color: black;
                                font-weight: 400;
                                font-size: 16px;

                                @media only screen and (max-width: 1330px) {
                                    font-size: 14px;
                                }

                                @media only screen and (max-width: 1280px) {
                                    font-size: 12px;
                                    width: 160px;
                                    height: 60px;
                                }

                                @media only screen and (max-width: 625px) {
                                    font-size: 12px;
                                    width: 420px;
                                    height: 40px;
                                    text-align: center;

                                }

                                @media only screen and (max-width: 420px) {
                                    font-size: 12px;
                                    width: 180px;
                                    height: 40px;
                                    text-align: center;

                                }
                            }

                            .plar7 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 120px;
                                height: 60px;
                                background-color: white;
                                border-radius: 30px;
                                font-family: 'Monsterrat', sans-serif;
                                color: black;
                                font-weight: 400;
                                font-size: 16px;

                                @media only screen and (max-width: 1330px) {
                                    font-size: 14px;
                                }

                                @media only screen and (max-width: 1280px) {
                                    font-size: 12px;
                                    width: 160px;
                                    height: 60px;
                                }

                                @media only screen and (max-width: 625px) {
                                    font-size: 12px;
                                    width: 420px;
                                    height: 40px;
                                    text-align: center;

                                }

                                @media only screen and (max-width: 420px) {
                                    font-size: 12px;
                                    width: 180px;
                                    height: 40px;
                                    text-align: center;

                                }
                            }

                            .plar8 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 120px;
                                height: 60px;
                                background-color: white;
                                border-radius: 30px;
                                font-family: 'Monsterrat', sans-serif;
                                color: black;
                                font-weight: 400;
                                font-size: 16px;

                                @media only screen and (max-width: 1330px) {
                                    font-size: 14px;
                                }

                                @media only screen and (max-width: 1280px) {
                                    font-size: 12px;
                                    width: 160px;
                                    height: 60px;
                                }

                                @media only screen and (max-width: 625px) {
                                    font-size: 12px;
                                    width: 420px;
                                    height: 40px;
                                    text-align: center;

                                }

                                @media only screen and (max-width: 420px) {
                                    font-size: 12px;
                                    width: 180px;
                                    height: 40px;
                                    text-align: center;

                                }
                            }

                            .plar9 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 120px;
                                height: 60px;
                                background-color: white;
                                border-radius: 30px;
                                font-family: 'Monsterrat', sans-serif;
                                color: black;
                                font-weight: 400;
                                font-size: 16px;

                                @media only screen and (max-width: 1330px) {
                                    font-size: 14px;
                                }

                                @media only screen and (max-width: 1280px) {
                                    font-size: 12px;
                                    width: 160px;
                                    height: 60px;
                                }

                                @media only screen and (max-width: 625px) {
                                    font-size: 12px;
                                    width: 420px;
                                    height: 40px;
                                    text-align: center;

                                }

                                @media only screen and (max-width: 420px) {
                                    font-size: 12px;
                                    width: 180px;
                                    height: 40px;
                                    text-align: center;

                                }
                            }

                            .plar10 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 150px;
                                height: 60px;
                                background-color: white;
                                border-radius: 30px;
                                font-family: 'Monsterrat', sans-serif;
                                color: black;
                                font-weight: 400;
                                font-size: 16px;

                                @media only screen and (max-width: 1330px) {
                                    font-size: 14px;
                                }

                                @media only screen and (max-width: 1280px) {
                                    font-size: 12px;
                                    width: 160px;
                                    height: 60px;
                                }

                                @media only screen and (max-width: 625px) {
                                    font-size: 12px;
                                    width: 420px;
                                    height: 40px;
                                    text-align: center;

                                }

                                @media only screen and (max-width: 420px) {
                                    font-size: 12px;
                                    width: 180px;
                                    height: 40px;
                                    text-align: center;

                                }
                            }

                            .plar11 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 130px;
                                height: 60px;
                                background-color: white;
                                border-radius: 30px;
                                font-family: 'Monsterrat', sans-serif;
                                color: black;
                                font-weight: 400;
                                font-size: 16px;

                                @media only screen and (max-width: 1330px) {
                                    font-size: 14px;
                                }

                                @media only screen and (max-width: 1280px) {
                                    font-size: 12px;
                                    width: 250px;
                                    height: 60px;
                                }

                                @media only screen and (max-width: 625px) {
                                    font-size: 12px;
                                    width: 420px;
                                    height: 40px;
                                    text-align: center;

                                }

                                @media only screen and (max-width: 420px) {
                                    font-size: 12px;
                                    width: 180px;
                                    height: 40px;
                                    text-align: center;

                                }
                            }

                            .plar12 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 250px;
                                height: 60px;
                                background-color: white;
                                border-radius: 30px;
                                font-family: 'Monsterrat', sans-serif;
                                color: black;
                                font-weight: 400;
                                font-size: 16px;

                                @media only screen and (max-width: 1330px) {
                                    font-size: 14px;
                                }

                                @media only screen and (max-width: 1280px) {
                                    font-size: 12px;
                                    width: 250px;
                                    height: 60px;
                                }

                                @media only screen and (max-width: 625px) {
                                    font-size: 12px;
                                    width: 420px;
                                    height: 40px;
                                    text-align: center;

                                }

                                @media only screen and (max-width: 420px) {
                                    font-size: 12px;
                                    width: 180px;
                                    height: 40px;
                                    text-align: center;

                                }
                            }

                            .plar13 {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 150px;
                                height: 60px;
                                background-color: white;
                                border-radius: 30px;
                                font-family: 'Monsterrat', sans-serif;
                                color: black;
                                font-weight: 400;
                                font-size: 16px;

                                @media only screen and (max-width: 1330px) {
                                    font-size: 14px;
                                }

                                @media only screen and (max-width: 1280px) {
                                    font-size: 12px;
                                    width: 250px;
                                    height: 60px;
                                }

                                @media only screen and (max-width: 625px) {
                                    font-size: 12px;
                                    width: 420px;
                                    height: 40px;
                                    text-align: center;

                                }

                                @media only screen and (max-width: 420px) {
                                    font-size: 12px;
                                    width: 180px;
                                    height: 40px;
                                    text-align: center;

                                }
                            }
                        }
                    }

                }

                .rasmun {
                    display: flex;
                    align-items: center;
                    width: 58%;
                    height: 100%;

                    @media only screen and (max-width: 1280px) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 50%;

                    }

                    // border: $border;
                    .uy {
                        width: 90%;
                        height: 85%;
                        // border: $border;
                        background-image: url(https://optim.tildacdn.one/tild6439-3061-4334-a165-393862323836/-/format/webp/001.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: contain;
                        border-radius: 30px;

                        @media only screen and (max-width: 1280px) {
                            margin-top: 180px;
                            width: 80%;
                        }
                        @media only screen and (max-width: 420px) {
                            margin-top: 580px;
                            width: 80%;
                            height: 150px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1330px) {
    .Infra {
        width: 100%;

    }
}