@import'../global.scss';

.Section7 {
    width: 100%;
    margin-top: 100px;

    .container {
        max-width: 1440px;
        margin: 0 auto;

        .section7 {
            width: 100%;
            height: 700px;

            @media only screen and (max-width: 700px) {
                height: 450px;
            }

            // border: $border;


            .narx {
                display: flex;
                align-items: center;
                width: 100%;
                height: 205px;
                // border: $border;
                justify-content: center;

                @media only screen and (max-width: 700px) {
                    height: 100px;
                }

                @media only screen and (max-width: 430px) {
                    height: 80px;
                }

                h1 {
                    font-family: 'Monsterrat', sans-serif;
                    font-size: 60px;
                    margin-right: 400px;
                    font-weight: 800;

                    @media only screen and (max-width: 850px) {
                        font-size: 45px;
                    }

                    @media only screen and (max-width: 700px) {
                        text-align: center;
                        font-size: 40px;
                        margin-right: 0;
                    }

                    @media only screen and (max-width: 590px) {
                        text-align: center;
                        font-size: 35px;
                        margin-right: 0;
                    }

                    @media only screen and (max-width: 530px) {
                        text-align: center;
                        font-size: 30px;
                        margin-right: 0;
                    }

                    @media only screen and (max-width: 530px) {
                        text-align: center;
                        font-size: 26px;
                        margin-right: 0;
                    }
                }
            }

            .sinflar {
                width: 100%;
                height: 100px;
                // border: $border;
                display: flex;

                @media only screen and (max-width: 700px) {
                    height: 80px;
                }

                @media only screen and (max-width: 430px) {
                    height: 70px;
                }

                .ajral {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 65%;

                    @media only screen and (max-width: 1400px) {
                        justify-content: space-around;
                    }

                    @media only screen and (max-width: 850px) {
                        width: 100%;
                    }

                    .sinf1 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 30px;
                        width: 450px;
                        height: 60px;
                        background-color: #e5fff1;
                        color: #36b872;
                        font-size: 30px;
                        font-family: 'Monsterrat', sans-serif;

                        @media only screen and (max-width: 1400px) {
                            width: 400px;
                            height: 60px;
                            font-size: 26px;
                        }

                        @media only screen and (max-width: 1250px) {
                            width: 300px;
                            height: 60px;
                            font-size: 20px;
                        }

                        @media only screen and (max-width: 850px) {
                            width: 320px;
                            font-size: 22px;
                        }

                        @media only screen and (max-width: 700px) {
                            width: 280px;
                            height: 50px;
                            font-size: 20px;
                        }

                        @media only screen and (max-width: 590px) {
                            width: 250px;
                            height: 50px;
                            font-size: 18px;
                        }

                        @media only screen and (max-width: 530px) {
                            width: 200px;
                            height: 40px;
                            font-size: 14px;
                        }

                        @media only screen and (max-width: 430px) {
                            width: 150px;
                            height: 35px;
                            font-size: 11px;
                        }

                        @media only screen and (max-width: 330px) {
                            width: 120px;
                            height: 35px;
                            font-size: 8px;
                        }

                    }



                    .qolgan {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 30px;
                        width: 450px;
                        height: 60px;
                        background-color: #fff7e5;
                        color: #ffb715;
                        font-size: 30px;
                        font-family: 'Monsterrat', sans-serif;

                        @media only screen and (max-width: 1400px) {
                            width: 400px;
                            height: 60px;
                        }

                        @media only screen and (max-width: 1250px) {
                            width: 300px;
                            height: 60px;
                            font-size: 20px;
                        }

                        @media only screen and (max-width: 850px) {
                            width: 320px;
                            font-size: 22px;
                        }

                        @media only screen and (max-width: 700px) {
                            width: 280px;
                            height: 50px;
                            font-size: 20px;
                        }

                        @media only screen and (max-width: 590px) {
                            width: 250px;
                            height: 50px;
                            font-size: 18px;
                        }

                        @media only screen and (max-width: 530px) {
                            width: 200px;
                            height: 40px;
                            font-size: 14px;
                        }

                        @media only screen and (max-width: 430px) {
                            width: 150px;
                            height: 35px;
                            font-size: 11px;
                        }

                        @media only screen and (max-width: 330px) {
                            width: 120px;
                            height: 35px;
                            font-size: 8px;
                        }
                    }
                }

                .ajralma {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 35%;

                    @media only screen and (max-width: 850px) {
                        display: none;
                    }

                    .oshxona {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 30px;
                        width: 500px;
                        height: 60px;
                        color: black;
                        font-size: 30px;
                        font-family: 'Monsterrat', sans-serif;

                        @media only screen and (max-width: 1400px) {
                            width: 400px;
                            height: 60px;
                        }

                        @media only screen and (max-width: 1250px) {
                            width: 300px;
                            height: 60px;
                            font-size: 20px;
                        }

                    }
                }






            }

            .pul {
                display: flex;
                width: 100%;
                height: 392.8px;

                @media only screen and (max-width: 700px) {
                    height: 250px;
                }

                @media only screen and (max-width: 430px) {
                    height: 180px;
                }

                @media only screen and (max-width: 330px) {
                    height: 150px;
                }

                // border: $border;
                .ajral2 {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 65%;
                    height: 100%;

                    @media only screen and (max-width: 1400px) {
                        justify-content: space-around;
                    }

                    @media only screen and (max-width: 850px) {
                        width: 100%;
                    }


                    // border: $border;
                    .million4 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 450px;
                        height: 220px;
                        // border: $border;
                        border-radius: 40px;
                        background-color: #e5fff1;

                        @media only screen and (max-width: 1400px) {
                            width: 400px;
                            height: 200px;
                        }

                        @media only screen and (max-width: 1250px) {
                            width: 300px;
                            height: 200px;
                            font-size: 24px;
                        }

                        @media only screen and (max-width: 1100px) {
                            width: 280px;
                            height: 150px;
                            font-size: 24px;
                        }

                        @media only screen and (max-width: 850px) {
                            width: 320px;
                            height: 180px;
                        }

                        @media only screen and (max-width: 700px) {
                            width: 280px;
                            height: 180px;
                        }

                        @media only screen and (max-width: 590px) {
                            width: 250px;
                            height: 180px;
                        }

                        @media only screen and (max-width: 530px) {
                            width: 200px;
                            height: 130px;
                        }

                        @media only screen and (max-width: 430px) {
                            width: 150px;
                            height: 120px;
                            border-radius: 20px;
                        }

                        @media only screen and (max-width: 330px) {
                            width: 120px;
                            height: 90px;
                            border-radius: 20px;
                        }

                        h1 {
                            font-family: 'Monsterrat', sans-serif;
                            font-size: 60px;

                            @media only screen and (max-width: 1400px) {
                                text-align: center;
                                font-size: 50px;
                            }

                            @media only screen and (max-width: 1100px) {
                                text-align: center;
                                font-size: 45px;
                            }

                            @media only screen and (max-width: 530px) {
                                text-align: center;
                                font-size: 35px;
                            }

                            @media only screen and (max-width: 430px) {
                                text-align: center;
                                font-size: 30px;
                            }

                            @media only screen and (max-width: 430px) {
                                text-align: center;
                                font-size: 25px;
                            }
                        }
                    }

                    .million45 {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 450px;
                        height: 220px;
                        // border: $border;
                        border-radius: 40px;
                        background-color: #fff7e5;

                        @media only screen and (max-width: 1400px) {
                            width: 400px;
                            height: 200px;
                        }

                        @media only screen and (max-width: 1250px) {
                            width: 300px;
                            height: 200px;
                            font-size: 24px;
                        }

                        @media only screen and (max-width: 1250px) {
                            width: 280px;
                            height: 150px;

                        }

                        @media only screen and (max-width: 850px) {
                            width: 320px;
                            height: 180px;
                        }

                        @media only screen and (max-width: 700px) {
                            width: 280px;
                            height: 180px;
                        }

                        @media only screen and (max-width: 590px) {
                            width: 250px;
                            height: 180px;
                        }

                        @media only screen and (max-width: 530px) {
                            width: 200px;
                            height: 130px;
                        }

                        @media only screen and (max-width: 430px) {
                            width: 150px;
                            height: 120px;
                            border-radius: 20px;
                        }

                        @media only screen and (max-width: 330px) {
                            width: 120px;
                            height: 90px;
                            border-radius: 20px;
                        }


                        h1 {
                            font-family: 'Monsterrat', sans-serif;
                            font-size: 60px;

                            @media only screen and (max-width: 1400px) {
                                text-align: center;
                                font-size: 50px;
                            }

                            @media only screen and (max-width: 1100px) {
                                text-align: center;
                                font-size: 45px;
                            }

                            @media only screen and (max-width: 530px) {
                                text-align: center;
                                font-size: 35px;
                            }

                            @media only screen and (max-width: 430px) {
                                text-align: center;
                                font-size: 30px;
                            }

                            @media only screen and (max-width: 330px) {
                                text-align: center;
                                font-size: 25px;
                            }
                        }
                    }
                }

                .mahal {
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    width: 35%;
                    height: 100%;

                    // border: $border;
                    @media only screen and (max-width: 850px) {
                        display: none;
                    }

                    .birxil {
                        width: 220px;
                        height: 220px;
                        // border: $border;
                        border-radius: 40px;
                        background-color: #e5fff1;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        flex-direction: column;

                        @media only screen and (max-width: 1400px) {
                            width: 180px;
                            height: 200px;
                        }

                        @media only screen and (max-width: 1100px) {
                            width: 130px;
                            height: 150px;
                        }



                        h3 {
                            font-family: 'Monsterrat', sans-serif;
                            font-size: 35px;
                            color: #36b872;

                            @media only screen and (max-width: 1400px) {
                                font-size: 30px;
                            }

                            @media only screen and (max-width: 1100px) {
                                font-size: 26px;
                            }
                        }

                        h4 {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            flex-direction: column;
                            font-family: 'Monsterrat', sans-serif;
                            font-size: 40px;
                            color: black;

                            @media only screen and (max-width: 1400px) {
                                font-size: 35px;
                            }

                            @media only screen and (max-width: 1100px) {
                                font-size: 28px;
                            }
                        }
                    }
                }
            }
        }

        .section77 {
            width: 100%;
            height: 800px;

            // border: $border;
            @media only screen and (max-width: 990px) {
                height: 900px;
            }

            @media only screen and (max-width: 800px) {
                height: 650px;
            }

            @media only screen and (max-width: 400px) {
                height: 450px;
                margin-top: -100px;
            }

            .narx1 {
                display: flex;
                align-items: center;
                width: 100%;
                height: 205px;
                // border: $border;
                justify-content: center;

                @media only screen and (max-width: 400px) {
                    height: 150px;
                }



                h1 {
                    font-family: 'Monsterrat', sans-serif;
                    font-size: 60px;
                    margin-right: 300px;
                    font-weight: 800;

                    @media only screen and (max-width: 800px) {
                        font-size: 45px;
                        text-align: center;
                        margin-right: 0;
                    }

                    @media only screen and (max-width: 514px) {
                        font-size: 35px;
                    }

                    @media only screen and (max-width: 400px) {
                        font-size: 26px;
                    }
                }
            }

            .boshlab {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 60%;



                @media only screen and (max-width: 990px) {
                    height: 100%;
                    flex-direction: column;
                    gap: 10px;
                }

                @media only screen and (max-width: 400px) {
                    gap: 20px;
                }

                // border: $border;
                .div11 {
                    width: 65%;
                    height: 90%;
                    // border: $border;
                    border-radius: 30px;
                    background-color: #e5f3ff;

                    @media only screen and (max-width: 990px) {
                        height: 500px;

                    }

                    @media only screen and (max-width: 800px) {
                        height: 300px;

                    }

                    @media only screen and (max-width: 400px) {
                        height: 250px;
                    }

                    .boshlab1 {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        padding: 50px 50px;

                        p {
                            font-family: 'Monsterrat', sans-serif;
                            font-size: 24px;
                            color: black;
                            font-weight: 500;

                            span {
                                font-weight: 800;
                            }

                            @media only screen and (max-width: 800px) {
                                font-size: 19px;
                            }

                            @media only screen and (max-width: 514px) {
                                font-size: 16px;
                            }

                            @media only screen and (max-width: 445px) {
                                font-size: 14px;
                            }

                            @media only screen and (max-width: 400px) {
                                font-size: 10px;
                            }
                        }

                        .yoqol {
                            @media only screen and (max-width: 800px) {
                                display: none;
                            }
                        }
                    }
                }

                .div12 {
                    width: 34%;
                    height: 90%;
                    // border: $border;
                    border-radius: 30px;
                    background-image: url(https://optim.tildacdn.one/tild6332-6534-4134-b634-333831373762/-/cover/764x400/center/center/-/format/webp/bee26c76-09e0-4ad0-9.png);
                    background-repeat: no-repeat;
                    background-size: cover;

                    @media only screen and (max-width: 990px) {
                        width: 66%;
                        height: 400px;
                    }

                    @media only screen and (max-width: 800px) {
                        height: 300px;
                    }

                }
            }


        }
    }
}

@media only screen and (max-width: 1400px) {
    .Section7 {
        width: 100%;
    }
}

.Stipendiya2 {
    width: 100%;
    margin-top: 50px;



    .container {
        max-width: 1440px;
        margin: 0 auto;

        .stipendiya2 {
            width: 100%;
            height: 800px;

            @media only screen and (max-width: 990px) {
                height: 600px;
            }

            // border: $border;
            .Sti {
                display: flex;
                align-items: center;
                justify-content: space-between;

                @media only screen and (max-width: 990px) {
                    justify-content: space-around;
                }

                h1 {
                    font-size: 56px;
                    font-family: 'Monsterrat', sans-serif;
                    font-weight: 800;

                    @media only screen and (max-width: 1250px) {
                        font-size: 45px;
                    }

                    @media only screen and (max-width: 1000px) {
                        font-size: 35px;
                    }

                    @media only screen and (max-width: 420px) {
                        font-size: 30px;
                    }
                }

                h3 {
                    display: flex;
                    align-items: end;
                    justify-content: end;
                    flex-direction: column;
                    font-family: 'Monsterrat', sans-serif;
                    font-size: 30px;
                    font-weight: 400;

                    @media only screen and (max-width: 1250px) {
                        font-size: 26px;
                    }

                    @media only screen and (max-width: 1000px) {
                        font-size: 22px;
                    }

                    @media only screen and (max-width: 990px) {
                        font-size: 20px;
                    }

                    @media only screen and (max-width: 620px) {
                        display: none;
                    }
                }
            }

            .tablega {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 90%;

                // border: 2px solid green;


                // border: $border;


                table {
                    width: 92%;
                    height: 90%;

                    // border: 2px solid green;
                    @media only screen and (max-width: 990px) {
                        height: 350px;
                        // margin-top: -200px;
                        width: 800px;
                    }

                    @media only screen and (max-width: 850px) {
                        height: 350px;
                        // margin-top: -200px;
                        width: 600px;
                    }

                    @media only screen and (max-width: 620px) {
                        height: 350px;
                        // margin-top: -200px;
                        width: 400px;
                    }

                    @media only screen and (max-width: 420px) {
                       width: 300px;
                       margin-top: -50px;
                    }


                    tr {
                        th {
                            background: #e5fff1;
                            border: 1px solid green;
                            height: 150px;
                            font-size: 26px;
                            font-family: 'Monsterrat', sans-serif;
                            font-weight: 800;

                            @media only screen and (max-width: 1250px) {
                                font-size: 22px;
                                height: 100px;
                                font-weight: 600;
                            }

                            @media only screen and (max-width: 990px) {
                                font-size: 16px;
                                height: 70px;
                            }

                            @media only screen and (max-width: 850px) {
                                font-size: 14px;
                            }

                            @media only screen and (max-width: 620px) {
                                font-size: 10px;
                            }

                            @media only screen and (max-width: 420px) {
                                font-size: 9px;
                            }
                        }

                        td {
                            text-align: center;
                            border: 1px solid green;
                            height: 100px;
                            font-size: 26px;
                            font-family: 'Monsterrat', sans-serif;
                            font-weight: 500;

                            @media only screen and (max-width: 1250px) {
                                font-size: 22px;
                                height: 80px;
                            }

                            @media only screen and (max-width: 990px) {
                                font-size: 14px;
                                height: 50px;
                            }

                            @media only screen and (max-width: 620px) {
                                font-size: 8px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1300px) {
    .Stipendiya2 {
        width: 100%;
        margin-top: 0;


    }
}

@media only screen and (max-width: 990px) {
    .Stipendiya2 {
        width: 100%;
        margin-top: 280px;


    }
}