@import'../global.scss';

.Section4 {
    margin-top: 80px;
    width: 100%;

    .container {
        max-width: 1440px;
        margin: 0 auto;

        // border: $border;
        .section4 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 600px;

            // border: $border;
            .green {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 90%;
                // border: $border;
                border-radius: 40px;
                background-color: #36b872;

                .first1 {
                    width: 50%;
                    height: 100%;
                    // border: $border;

                    h1 {
                        padding: 100px 155px;
                        color: white;
                        font-family: 'Monsterrat', sans-serif;
                        font-size: 50px;
                        // border: $border;
                        font-weight: 700;
                        width: 100%;
                        // border: 1px solid;
                    }

                    h3 {
                        margin-top: -40px;
                        color: white;
                        font-family: 'Monsterrat', sans-serif;
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 40px;
                        width: 80%;
                        margin-left: 150px;

                    }
                }

                .first2 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 50%;
                    height: 100%;
                    // border: $border;
                    gap: 20px;

                    input {
                        border: none;
                        outline: none;
                        border-radius: 40px;
                        width: 420px;
                        height: 60px;
                        border: 1px solid red !important;
                        background-color: rgb(255, 255, 255);
                        color: rgb(17, 17, 17);
                        font-size: 20px;
                        padding: 0 20px;
                        font-family: 'Monsterrat', sans-serif;
                    }

                    select {
                        border-radius: 40px;
                        width: 420px;
                        height: 60px;
                        border: 1px solid red !important;
                        background-color: rgb(255, 255, 255);
                        color: rgb(17, 17, 17);
                        font-size: 20px;
                        padding: 0 20px;
                        font-family: 'Monsterrat', sans-serif;
                        outline: none;
                    }

                    button {
                        border-radius: 40px;
                        width: 420px;
                        height: 60px;
                        border: none;
                        background-color: #ffb715;
                        color: white;
                        font-size: 26px;
                        font-family: 'Monsterrat', sans-serif;
                        cursor: pointer;

                        &:hover {
                            transition: 0.4s;
                            background-color: #f5a900;
                        }
                    }

                }
            }
        }
    }
}