@import'../global.scss';

.Qabul {
    width: 100%;
    margin-top: 110px;

    .container {
        max-width: 1440px;
        margin: 0 auto;

        .qabul {
            width: 100%;
            height: 1100px;
            // border: $border;
            background-color: rgb(101, 172, 101);
            border-radius: 40px;
            background-image: url(https://optim.tildacdn.one/tild3462-6538-4133-b535-663961343062/-/format/webp/e43f4acf-dbd7-412d-b.png);

            @media only screen and (max-width: 1150px) {
                height: 1200px;
            }

            @media only screen and (max-width: 750px) {
                width: 600px;
                margin: 0 auto;
                height: 1100px;
            }

            @media only screen and (max-width: 625px) {
                width: 500px;
                margin: 0 auto;
                height: 1100px;
            }

            @media only screen and (max-width: 520px) {
                width: 400px;
                margin: 0 auto;
                height: 900px;
            }

            @media only screen and (max-width: 430px) {
                width: 320px;
                margin: 0 auto;
                height: 700px;
            }
            @media only screen and (max-width: 340px) {
                width: 280px;
                margin: 0 auto;
                height: 700px;
            }

            .jarayon {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 50px 0;

                h1 {
                    font-family: 'Monsterrat', sans-serif;
                    font-size: 60px;
                    color: white;
                    font-weight: 800;

                    @media only screen and (max-width: 520px) {
                        font-size: 30px;
                    }

                    @media only screen and (max-width: 430px) {
                        font-size: 26px;
                    }
                }
            }

            .belgi1 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 30%;
                // border: $border;
                margin-left: -150px;


                @media only screen and (max-width: 1150px) {
                    margin-left: 0;
                    height: 25%;
                }

                @media only screen and (max-width: 520px) {
                    height: 20%;
                }



                .strelka1 {
                    display: flex;
                    align-items: center;
                    // border: $border;
                    width: 60%;
                    height: 100%;
                    background-image: url(https://optim.tildacdn.one/tild3237-3335-4336-a364-306235353837/-/cover/954x372/center/center/-/format/webp/ar.png);
                    background-repeat: no-repeat;
                    background-size: 70%;
                    background-position: 100%;

                    // margin-left: 100px;
                    @media only screen and (max-width: 1150px) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        height: 100%;
                        background: none;
                    }

                    .fanlar1 {
                        width: 600px;
                        height: 222px;
                        // border: $border;
                        border-radius: 30px;
                        background-color: white;

                        @media only screen and (max-width: 1150px) {
                            width: 700px;
                            height: 262px;
                        }

                        @media only screen and (max-width: 750px) {
                            width: 400px;
                            height: 220px;
                        }

                        @media only screen and (max-width: 520px) {
                            width: 300px;
                            height: 180px;
                        }

                        @media only screen and (max-width: 430px) {
                            width: 260px;
                            height: 140px;
                        }

                        .farzand1 {
                            padding: 30px 50px;

                            h1 {
                                color: #7b48a3;
                                font-family: 'Monsterrat', sans-serif;
                                font-size: 26px;
                                font-weight: 800;

                                @media only screen and (max-width: 750px) {
                                    font-size: 20px;
                                }

                                @media only screen and (max-width: 520px) {
                                    font-size: 14px;
                                }

                                @media only screen and (max-width: 430px) {
                                    font-size: 10px;
                                }
                            }

                            p {
                                margin-top: 15px;
                                color: black;
                                font-family: 'Monsterrat', sans-serif;
                                font-size: 20px;
                                font-weight: 400;

                                @media only screen and (max-width: 750px) {
                                    font-size: 16px;
                                }

                                @media only screen and (max-width: 520px) {
                                    font-size: 10px;
                                }

                                @media only screen and (max-width: 430px) {
                                    font-size: 8px;
                                }

                            }

                        }

                        .number1 {
                            display: flex;
                            align-items: center;
                            padding: 0 50px;

                            button {
                                width: 120px;
                                height: 120px;
                                border-radius: 50%;
                                border: none;
                                background-color: #7b48a3;
                                color: white;
                                font-family: 'Monsterrat', sans-serif;
                                font-size: 56px;
                                font-weight: 700;

                                @media only screen and (max-width: 750px) {
                                    width: 90px;
                                    height: 90px;
                                    font-size: 36px;
                                    margin-top: -20px;
                                }

                                @media only screen and (max-width: 520px) {
                                    width: 70px;
                                    height: 70px;
                                    font-size: 30px;
                                    margin-top: -20px;
                                }

                                @media only screen and (max-width: 430px) {
                                    width: 50px;
                                    height: 50px;
                                    font-size: 26px;
                                    margin-top: -20px;
                                }
                            }

                        }
                    }
                }

                // .strelkaa {
                //     display: flex;
                //     align-items: center;
                //     // border: $border;
                //     width: 40%;
                //     margin-left: -100px;

                //     background-repeat: no-repeat;
                //     background-size: 70%;
                //     background-position: 100%;

                //     .fanlar {
                //         width: 600px;
                //         height: 222px;
                //         // border: $border;
                //         border-radius: 30px;
                //         background-color: white;

                //         .farzand {
                //             padding: 50px 50px;

                //             h1 {
                //                 color: #7b48a3;
                //                 font-family: 'Monsterrat', sans-serif;
                //                 font-size: 26px;
                //                 font-weight: 800;
                //             }

                //             p {
                //                 margin-top: 15px;
                //                 color: black;
                //                 font-family: 'Monsterrat', sans-serif;
                //                 font-size: 20px;
                //                 font-weight: 400;

                //             }

                //         }

                //         .number1 {
                //             display: flex;
                //             align-items: center;
                //             padding: 0 50px;

                //             button {
                //                 width: 110px;
                //                 height: 110px;
                //                 border-radius: 50%;
                //                 border: none;
                //                 background-color: #7b48a3;
                //                 color: white;
                //                 font-family: 'Monsterrat', sans-serif;
                //                 font-size: 56px;
                //                 font-weight: 700;
                //             }

                //         }
                //     }
                // }
            }

            .belgi2 {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 45%;

                // border: $border;
                @media only screen and (max-width: 1150px) {
                    height: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column-reverse;
                }


                .strelka2 {
                    display: flex;
                    align-items: end;
                    justify-content: end;
                    // border: $border;
                    width: 50%;
                    height: 100%;

                    @media only screen and (max-width: 1150px) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        width: 100%;
                        height: 50%;
                    }



                    .fanlar2 {
                        width: 600px;
                        height: 222px;
                        // border: $border;
                        border-radius: 30px;
                        background-color: white;
                        margin-bottom: 80px;

                        @media only screen and (max-width: 1150px) {
                            margin-bottom: 0;
                            width: 700px;
                            height: 262px;

                        }

                        @media only screen and (max-width: 750px) {
                            width: 400px;
                            height: 220px;
                        }

                        @media only screen and (max-width: 520px) {
                            width: 300px;
                            height: 180px;
                        }

                        @media only screen and (max-width: 520px) {
                            width: 260px;
                            height: 140px;
                        }

                        .farzand2 {
                            padding: 20px 50px;

                            h1 {
                                color: #115999;
                                font-family: 'Monsterrat', sans-serif;
                                font-size: 26px;
                                font-weight: 800;

                                @media only screen and (max-width: 750px) {
                                    font-size: 20px;
                                }

                                @media only screen and (max-width: 520px) {
                                    font-size: 14px;
                                }

                                @media only screen and (max-width: 430px) {
                                    font-size: 10px;
                                }
                            }

                            p {
                                margin-top: 15px;
                                color: black;
                                font-family: 'Monsterrat', sans-serif;
                                font-size: 20px;
                                font-weight: 400;

                                @media only screen and (max-width: 750px) {
                                    font-size: 16px;
                                }

                                @media only screen and (max-width: 520px) {
                                    font-size: 10px;
                                }

                                @media only screen and (max-width: 430px) {
                                    font-size: 8px;
                                }

                            }

                        }

                        .number2 {
                            display: flex;
                            align-items: center;
                            padding: 0 50px;

                            button {
                                width: 120px;
                                height: 120px;
                                border-radius: 50%;
                                border: none;
                                background-color: #115999;
                                color: white;
                                font-family: 'Monsterrat', sans-serif;
                                font-size: 56px;
                                font-weight: 700;

                                @media only screen and (max-width: 750px) {
                                    width: 90px;
                                    height: 90px;
                                    font-size: 36px;
                                    margin-top: -20px;
                                }

                                @media only screen and (max-width: 520px) {
                                    width: 70px;
                                    height: 70px;
                                    font-size: 30px;
                                    margin-top: -10px;
                                }

                                @media only screen and (max-width: 430px) {
                                    width: 50px;
                                    height: 50px;
                                    font-size: 26px;
                                    margin-top: -20px;
                                }
                            }

                        }
                    }
                }

                .strelka3 {
                    display: flex;
                    align-items: start;
                    justify-content: end;
                    // border: $border;
                    width: 50%;
                    height: 100%;
                    background-image: url(https://optim.tildacdn.one/tild3163-3337-4831-b433-396461633637/-/cover/714x674/center/center/-/format/webp/c25133a0-1c7a-4179-9.png);
                    background-repeat: no-repeat;
                    background-size: 75%;
                    background-position: 100%;
                    margin-right: 100px;

                    @media only screen and (max-width: 1150px) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 0;
                        background: none;
                        flex-direction: column;
                    }

                    .fanlar3 {
                        width: 600px;
                        height: 222px;
                        // border: $border;
                        border-radius: 30px;
                        background-color: white;

                        @media only screen and (max-width: 1150px) {
                            width: 700px;
                            height: 262px;
                        }

                        @media only screen and (max-width: 750px) {
                            width: 400px;
                            height: 220px;
                        }

                        @media only screen and (max-width: 520px) {
                            width: 300px;
                            height: 180px;
                        }

                        @media only screen and (max-width: 520px) {
                            width: 260px;
                            height: 140px;
                        }

                        .farzand3 {
                            padding: 20px 50px;

                            h1 {
                                color: #ffb715;
                                font-family: 'Monsterrat', sans-serif;
                                font-size: 26px;
                                font-weight: 800;

                                @media only screen and (max-width: 750px) {
                                    font-size: 20px;
                                }

                                @media only screen and (max-width: 520px) {
                                    font-size: 14px;
                                }
                                @media only screen and (max-width: 430px) {
                                    font-size: 10px;
                                }
                            }

                            p {
                                margin-top: 15px;
                                color: black;
                                font-family: 'Monsterrat', sans-serif;
                                font-size: 20px;
                                font-weight: 400;

                                @media only screen and (max-width: 750px) {
                                    font-size: 16px;
                                }

                                @media only screen and (max-width: 550px) {
                                    font-size: 10px;
                                }
                                @media only screen and (max-width: 430px) {
                                    font-size: 8px;
                                }

                            }

                        }

                        .number3 {
                            display: flex;
                            align-items: center;
                            padding: 0 50px;

                            button {
                                width: 120px;
                                height: 120px;
                                border-radius: 50%;
                                border: none;
                                background-color: #ffb715;
                                color: white;
                                font-family: 'Monsterrat', sans-serif;
                                font-size: 56px;
                                font-weight: 700;

                                @media only screen and (max-width: 750px) {
                                    width: 90px;
                                    height: 90px;
                                    font-size: 36px;
                                }

                                @media only screen and (max-width: 520px) {
                                    width: 70px;
                                    height: 70px;
                                    font-size: 30px;
                                    margin-top: 20px;
                                }
                                @media only screen and (max-width: 430px) {
                                    width: 50px;
                                    height: 50px;
                                    font-size: 26px;
                                    margin-top: 10px;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1150px) {
    .Qabul {
        width: 100%;

    }
}