@import'../global.scss';

.Section4 {
    margin-top: 30px;
    width: 100%;

    @media only screen and (max-width: 550px) {
        margin-top: 0;

    }
    @media only screen and (max-width: 450px) {
        margin-top: -50px;

    }
    @media only screen and (max-width: 350px) {
        margin-top: -100px;

    }

    .container {
        max-width: 1440px;
        margin: 0 auto;

        // border: $border;
        .section4 {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 600px;

            @media only screen and (max-width: 1350px) {
                height: 500px;


            }

            @media only screen and (max-width: 1200px) {
                height: 800px;


            }

            // border: $border;
            .green {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 90%;
                // border: $border;
                border-radius: 40px;
                background-color: #36b872;

                @media only screen and (max-width: 1470px) {
                    height: 88%;
                    width: 95%;

                }

                @media only screen and (max-width: 1200px) {
                    width: 1000px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                }

                @media only screen and (max-width: 650px) {
                    height: 700px;
                    width: 520px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                }

                @media only screen and (max-width: 550px) {
                    height: 550px;
                    width: 420px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                }

                @media only screen and (max-width: 450px) {
                    height: 480px;
                    width: 380px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                }

                @media only screen and (max-width: 405px) {
                    height: 440px;
                    width: 360px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                }

                @media only screen and (max-width: 400px) {
                    height: 440px;
                    width: 320px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    border-radius: 10px;

                }
                @media only screen and (max-width: 350px) {
                    height: 400px;
                    width: 280px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;

                }

                // @media only screen and (max-width: 600px) {
                //     height: 700px;
                //     width: 450px;
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                //     flex-direction: column;

                // }


                .first1 {
                    width: 50%;
                    height: 100%;

                    // border: $border;
                    @media only screen and (max-width: 1200px) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-direction: column;
                        width: 100%;
                        height: 30%;

                    }

                    @media only screen and (max-width: 600px) {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        // flex-direction: column;
                        width: 100%;
                        height: 30%;


                    }

                    h1 {
                        padding: 100px 155px;
                        color: white;
                        font-family: 'Monsterrat', sans-serif;
                        font-size: 50px;
                        // border: $border;
                        font-weight: 700;
                        width: 100%;

                        // border: 1px solid;
                        @media only screen and (max-width: 1470px) {
                            font-size: 45px;

                        }

                        @media only screen and (max-width: 1450px) {
                            font-size: 40px;

                        }

                        @media only screen and (max-width: 1350px) {
                            font-size: 30px;

                        }

                        @media only screen and (max-width: 1200px) {
                            font-size: 40px;
                            padding: 100px 225px;

                        }

                        // @media only screen and (max-width: 1190px) {
                        //     font-size: 35px;
                        //     padding: 100px 225px;

                        // }

                        // @media only screen and (max-width: 1120px) {
                        //     font-size: 35px;
                        //     padding: 100px 205px;

                        // }

                        // @media only screen and (max-width: 1070px) {
                        //     font-size: 35px;
                        //     padding: 100px 185px;

                        // }

                        // @media only screen and (max-width: 1020px) {
                        //     font-size: 35px;
                        //     padding: 100px 175px;

                        // }

                        // @media only screen and (max-width: 995px) {
                        //     font-size: 35px;
                        //     padding: 100px 155px;

                        // }

                        // @media only screen and (max-width: 948px) {
                        //     font-size: 35px;
                        //     padding: 100px 145px;

                        // }

                        // @media only screen and (max-width: 920px) {
                        //     font-size: 35px;
                        //     padding: 100px 135px;

                        // }

                        @media only screen and (max-width: 895px) {
                            font-size: 35px;
                            padding: 100px 185px;

                        }


                        @media only screen and (max-width: 820px) {
                            font-size: 35px;
                            padding: 100px 160px;

                        }

                        // @media only screen and (max-width: 795px) {
                        //     font-size: 35px;
                        //     padding: 100px 85px;

                        // }

                        @media only screen and (max-width: 770px) {
                            font-size: 35px;
                            padding: 100px 135px;

                        }

                        @media only screen and (max-width: 745px) {
                            font-size: 35px;
                            padding: 100px 125px;

                        }

                        @media only screen and (max-width: 720px) {
                            font-size: 35px;
                            padding: 100px 125px;

                        }

                        @media only screen and (max-width: 695px) {
                            font-size: 35px;
                            padding: 100px 110px;

                        }

                        @media only screen and (max-width: 670px) {
                            font-size: 35px;
                            padding: 100px 100px;

                        }

                        @media only screen and (max-width: 645px) {
                            font-size: 30px;
                            padding: 100px 65px;

                        }

                        @media only screen and (max-width: 620px) {
                            font-size: 35px;
                            padding: 100px 30px;

                        }

                        @media only screen and (max-width: 600px) {
                            font-size: 35px;
                            padding: 30px 40px;

                        }

                        @media only screen and (max-width: 550px) {
                            margin-top: 15px;
                            font-size: 25px;
                            text-align: center;
                        }

                        @media only screen and (max-width: 450px) {
                            margin-top: 15px;
                            font-size: 22px;
                            text-align: center;
                        }
                    }

                    h3 {
                        margin-top: -40px;
                        color: white;
                        font-family: 'Monsterrat', sans-serif;
                        font-size: 22px;
                        font-weight: 400;
                        line-height: 40px;
                        width: 80%;
                        margin-left: 150px;

                        @media only screen and (max-width: 1470px) {
                            font-size: 20px;

                        }

                        @media only screen and (max-width: 1450px) {
                            font-size: 18px;

                        }

                        @media only screen and (max-width: 1350px) {
                            font-size: 15px;

                        }

                        @media only screen and (max-width: 1200px) {
                            width: 500px;
                            // background-color: #f5a900;
                            font-size: 15px;
                            margin-left: 65px;
                            margin-top: -70px;

                        }

                        @media only screen and (max-width: 650px) {
                            // margin-top: 0px; 
                            margin-left: 100px;

                        }

                        @media only screen and (max-width: 600px) {
                            margin-top: 0px;

                        }

                        @media only screen and (max-width: 550px) {
                            font-size: 12px;
                            margin-top: 0;
                            margin-left: 0;
                            width: 280px;
                        }

                        @media only screen and (max-width: 450px) {
                            display: none;
                        }

                    }
                }

                .first2 {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    width: 50%;
                    height: 100%;
                    // border: $border;
                    gap: 20px;

                    input {
                        border: none;
                        outline: none;
                        border-radius: 40px;
                        width: 420px;
                        height: 60px;
                        border: 1px solid red !important;
                        background-color: rgb(255, 255, 255);
                        color: rgb(17, 17, 17);
                        font-size: 20px;
                        padding: 0 20px;
                        font-family: 'Monsterrat', sans-serif;

                        @media only screen and (max-width: 1350px) {

                            width: 320px;
                            height: 40px;

                        }

                        @media only screen and (max-width: 1200px) {

                            width: 420px;
                            height: 60px;
                        }

                        @media only screen and (max-width: 550px) {

                            width: 320px;
                            height: 40px;
                        }

                        @media only screen and (max-width: 400px) {

                            width: 280px;
                            height: 40px;
                        }

                        @media only screen and (max-width: 350px) {

                            width: 220px;
                            height: 35px;
                        }
                    }

                    select {
                        border-radius: 40px;
                        width: 420px;
                        height: 60px;
                        border: 1px solid red !important;
                        background-color: rgb(255, 255, 255);
                        color: rgb(17, 17, 17);
                        font-size: 20px;
                        padding: 0 20px;
                        font-family: 'Monsterrat', sans-serif;
                        outline: none;

                        @media only screen and (max-width: 1350px) {

                            width: 320px;
                            height: 40px;

                        }

                        @media only screen and (max-width: 1200px) {

                            width: 420px;
                            height: 60px;
                        }

                        @media only screen and (max-width: 550px) {

                            width: 320px;
                            height: 40px;
                        }

                        @media only screen and (max-width: 400px) {

                            width: 280px;
                            height: 40px;
                        }

                        @media only screen and (max-width: 350px) {

                            width: 220px;
                            height: 35px;
                        }
                    }

                    button {
                        border-radius: 40px;
                        width: 420px;
                        height: 60px;
                        border: none;
                        background-color: #ffb715;
                        color: white;
                        font-size: 26px;
                        font-family: 'Monsterrat', sans-serif;
                        cursor: pointer;

                        @media only screen and (max-width: 1350px) {

                            width: 320px;
                            height: 40px;
                            font-size: 20px;

                        }

                        @media only screen and (max-width: 1200px) {

                            width: 420px;
                            height: 60px;
                        }

                        @media only screen and (max-width: 550px) {

                            width: 320px;
                            height: 40px;
                        }

                        @media only screen and (max-width: 400px) {

                            width: 280px;
                            height: 40px;
                        }

                        @media only screen and (max-width: 350px) {

                            width: 220px;
                            height: 35px;
                        }

                        &:hover {
                            transition: 0.4s;
                            background-color: #f5a900;
                        }
                    }

                }
            }
        }
    }
}

@media only screen and (max-width: 1470px) {
    .Section4 {
        width: 100%;



    }
}