@import'../global.scss';

.teacher1 {
    background-image: url(https://optim.tildacdn.one/tild3432-6431-4565-b563-356234356464/-/cover/400x400/center/center/-/format/webp/noroot.jpg);

}

.teacher2 {
    background-image: url(https://optim.tildacdn.one/tild6562-3434-4764-b138-396133393931/-/cover/400x400/center/center/-/format/webp/noroot.jpg);
}

.teacher3 {
    background-image: url(https://optim.tildacdn.one/tild3431-3136-4761-b062-313334303633/-/cover/400x400/center/center/-/format/webp/noroot.jpg);
}

.teacher4 {
    background-image: url(https://optim.tildacdn.one/tild6461-3961-4266-a361-333232633239/-/cover/400x400/center/center/-/format/webp/noroot.jpg);
}

.teacher5 {
    background-image: url(https://optim.tildacdn.one/tild6239-3936-4235-b334-663838323231/-/cover/400x400/center/center/-/format/webp/noroot.jpg);
}

.teacher6 {
    background-image: url(https://optim.tildacdn.one/tild3535-3562-4062-b966-653165326133/-/cover/400x400/center/center/-/format/webp/noroot.jpg);
}

.teacher7 {
    background-image: url(https://optim.tildacdn.one/tild3066-3364-4833-a261-666138656164/-/cover/400x400/center/center/-/format/webp/noroot.jpg);
}

.teacher8 {
    background-image: url(https://optim.tildacdn.one/tild3639-3164-4236-b539-373431343333/-/cover/400x400/center/center/-/format/webp/noroot.jpg);
}

.teacher9 {
    background-image: url(https://optim.tildacdn.one/tild3534-3564-4463-a630-653332646235/-/cover/400x400/center/center/-/format/webp/noroot.jpg);
}

.teacher10 {
    background-image: url(https://optim.tildacdn.one/tild3363-6463-4530-b963-633437313766/-/cover/400x400/center/center/-/format/webp/noroot.jpg);
}